.#{$wi-css-prefix}-wz-possible-thunderstorm:before { content: $thunderstorm; };
.#{$wi-css-prefix}-wz-clearing_shower:before { content: $showers; };
.#{$wi-css-prefix}-wz-cloudy:before { content: $cloudy; };
.#{$wi-css-prefix}-wz-cloud_and_wind_increasing:before { content: $cloudy-gusts; };
.#{$wi-css-prefix}-wz-cloud_increasing:before { content: $day-cloudy; };
.#{$wi-css-prefix}-wz-drizzle:before { content: $showers; };
.#{$wi-css-prefix}-wz-drizzle_clearing:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-fog_then_sunny:before { content: $day-fog; };
.#{$wi-css-prefix}-wz-frost_then_sunny:before { content: $day-fog; };
.#{$wi-css-prefix}-wz-hazy:before { content: $day-haze; };
.#{$wi-css-prefix}-wz-heavy_rain:before { content: $rain; };
.#{$wi-css-prefix}-wz-heavy_showers:before { content: $rain; };
.#{$wi-css-prefix}-wz-increasing_sunshine:before { content: $day-cloudy; };
.#{$wi-css-prefix}-wz-late_shower:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-late_thunder:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-wz-mostly_cloudy:before { content: $cloudy; };
.#{$wi-css-prefix}-wz-mostly_sunny:before { content: $day-sunny; };
.#{$wi-css-prefix}-wz-overcast:before { content: $cloudy; };
.#{$wi-css-prefix}-wz-possible_shower:before { content: $day-rain-mix; };
.#{$wi-css-prefix}-wz-possible_thunderstorm:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-wz-rain:before { content: $rain; };
.#{$wi-css-prefix}-wz-rain_and_snow:before { content: $rain-mix; };
.#{$wi-css-prefix}-wz-rain_clearing:before { content: $day-rain; };
.#{$wi-css-prefix}-wz-rain_developing:before { content: $day-rain; };
.#{$wi-css-prefix}-wz-rain_tending_to_snow:before { content: $rain-mix; };
.#{$wi-css-prefix}-wz-showers:before { content: $showers; };
.#{$wi-css-prefix}-wz-showers_easing:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-showers_increasing:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-snow:before { content: $snow; };
.#{$wi-css-prefix}-wz-snowfalls_clearing:before { content: $day-snow; };
.#{$wi-css-prefix}-wz-snow_developing:before { content: $day-snow; };
.#{$wi-css-prefix}-wz-snow_showers:before { content: $sleet; };
.#{$wi-css-prefix}-wz-snow_tending_to_rain:before { content: $rain-mix; };
.#{$wi-css-prefix}-wz-sunny:before { content: $day-sunny; };
.#{$wi-css-prefix}-wz-thunderstorms:before { content: $thunderstorm; };
.#{$wi-css-prefix}-wz-thunderstorms_clearing:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-wz-windy:before { content: $windy; };
.#{$wi-css-prefix}-wz-windy_with_rain:before { content: $rain-wind; };
.#{$wi-css-prefix}-wz-windy_with_showers:before { content: $rain-wind; };
.#{$wi-css-prefix}-wz-windy_with_snow:before { content: $snow-wind; };
.#{$wi-css-prefix}-wz-wind_and_rain_increasing:before { content: $rain-wind; };
.#{$wi-css-prefix}-wz-wind_and_showers_easing:before { content: $rain-wind; };
$
.#{$wi-css-prefix}-wz-day-possible-thunderstorm:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-wz-day-clearing_shower:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-day-cloudy:before { content: $day-cloudy; };
.#{$wi-css-prefix}-wz-day-cloud_and_wind_increasing:before { content: $day-cloudy-gusts; };
.#{$wi-css-prefix}-wz-day-cloud_increasing:before { content: $day-cloudy; };
.#{$wi-css-prefix}-wz-day-drizzle:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-day-drizzle_clearing:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-day-fog_then_sunny:before { content: $day-fog; };
.#{$wi-css-prefix}-wz-day-frost_then_sunny:before { content: $day-fog; };
.#{$wi-css-prefix}-wz-day-hazy:before { content: $day-haze; };
.#{$wi-css-prefix}-wz-day-heavy_rain:before { content: $day-rain; };
.#{$wi-css-prefix}-wz-day-heavy_showers:before { content: $day-rain; };
.#{$wi-css-prefix}-wz-day-increasing_sunshine:before { content: $day-cloudy; };
.#{$wi-css-prefix}-wz-day-late_shower:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-day-late_thunder:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-wz-day-mostly_cloudy:before { content: $day-cloudy; };
.#{$wi-css-prefix}-wz-day-mostly_sunny:before { content: $day-sunny; };
.#{$wi-css-prefix}-wz-day-overcast:before { content: $day-cloudy; };
.#{$wi-css-prefix}-wz-day-possible_shower:before { content: $day-rain-mix; };
.#{$wi-css-prefix}-wz-day-possible_thunderstorm:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-wz-day-rain:before { content: $day-rain; };
.#{$wi-css-prefix}-wz-day-rain_and_snow:before { content: $day-rain-mix; };
.#{$wi-css-prefix}-wz-day-rain_clearing:before { content: $day-rain; };
.#{$wi-css-prefix}-wz-day-rain_developing:before { content: $day-rain; };
.#{$wi-css-prefix}-wz-day-rain_tending_to_snow:before { content: $day-rain-mix; };
.#{$wi-css-prefix}-wz-day-showers:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-day-showers_easing:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-day-showers_increasing:before { content: $day-showers; };
.#{$wi-css-prefix}-wz-day-snow:before { content: $day-snow; };
.#{$wi-css-prefix}-wz-day-snowfalls_clearing:before { content: $day-snow; };
.#{$wi-css-prefix}-wz-day-snow_developing:before { content: $day-snow; };
.#{$wi-css-prefix}-wz-day-snow_showers:before { content: $day-sleet; };
.#{$wi-css-prefix}-wz-day-snow_tending_to_rain:before { content: $day-rain-mix; };
.#{$wi-css-prefix}-wz-day-sunny:before { content: $day-sunny; };
.#{$wi-css-prefix}-wz-day-thunderstorms:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-wz-day-thunderstorms_clearing:before { content: $day-thunderstorm; };
.#{$wi-css-prefix}-wz-day-windy:before { content: $day-windy; };
.#{$wi-css-prefix}-wz-day-windy_with_rain:before { content: $day-rain-wind; };
.#{$wi-css-prefix}-wz-day-windy_with_showers:before { content: $day-rain-wind; };
.#{$wi-css-prefix}-wz-day-windy_with_snow:before { content: $day-snow-wind; };
.#{$wi-css-prefix}-wz-day-wind_and_rain_increasing:before { content: $day-rain-wind; };
.#{$wi-css-prefix}-wz-day-wind_and_showers_easing:before { content: $day-rain-wind; };
$
.#{$wi-css-prefix}-wz-night-possible-thunderstorm:before { content: $night-thunderstorm; };
.#{$wi-css-prefix}-wz-night-clearing_shower:before { content: $night-showers; };
.#{$wi-css-prefix}-wz-night-cloudy:before { content: $night-cloudy; };
.#{$wi-css-prefix}-wz-night-cloud_and_wind_increasing:before { content: $night-cloudy-gusts; };
.#{$wi-css-prefix}-wz-night-cloud_increasing:before { content: $night-cloudy; };
.#{$wi-css-prefix}-wz-night-drizzle:before { content: $night-showers; };
.#{$wi-css-prefix}-wz-night-drizzle_clearing:before { content: $night-showers; };
.#{$wi-css-prefix}-wz-night-fog_then_sunny:before { content: $night-fog; };
.#{$wi-css-prefix}-wz-night-frost_then_sunny:before { content: $night-fog; };
.#{$wi-css-prefix}-wz-night-hazy:before { content: $day-haze; };
.#{$wi-css-prefix}-wz-night-heavy_rain:before { content: $night-rain; };
.#{$wi-css-prefix}-wz-night-heavy_showers:before { content: $night-rain; };
.#{$wi-css-prefix}-wz-night-increasing_sunshine:before { content: $night-cloudy; };
.#{$wi-css-prefix}-wz-night-late_shower:before { content: $night-showers; };
.#{$wi-css-prefix}-wz-night-late_thunder:before { content: $night-thunderstorm; };
.#{$wi-css-prefix}-wz-night-mostly_cloudy:before { content: $night-cloudy; };
.#{$wi-css-prefix}-wz-night-mostly_sunny:before { content: $day-sunny; };
.#{$wi-css-prefix}-wz-night-overcast:before { content: $night-cloudy; };
.#{$wi-css-prefix}-wz-night-possible_shower:before { content: $night-rain-mix; };
.#{$wi-css-prefix}-wz-night-possible_thunderstorm:before { content: $night-thunderstorm; };
.#{$wi-css-prefix}-wz-night-rain:before { content: $night-rain; };
.#{$wi-css-prefix}-wz-night-rain_and_snow:before { content: $night-rain-mix; };
.#{$wi-css-prefix}-wz-night-rain_clearing:before { content: $night-rain; };
.#{$wi-css-prefix}-wz-night-rain_developing:before { content: $night-rain; };
.#{$wi-css-prefix}-wz-night-rain_tending_to_snow:before { content: $night-rain-mix; };
.#{$wi-css-prefix}-wz-night-showers:before { content: $night-showers; };
.#{$wi-css-prefix}-wz-night-showers_easing:before { content: $night-showers; };
.#{$wi-css-prefix}-wz-night-showers_increasing:before { content: $night-showers; };
.#{$wi-css-prefix}-wz-night-snow:before { content: $night-snow; };
.#{$wi-css-prefix}-wz-night-snowfalls_clearing:before { content: $night-snow; };
.#{$wi-css-prefix}-wz-night-snow_developing:before { content: $night-snow; };
.#{$wi-css-prefix}-wz-night-snow_showers:before { content: $night-sleet; };
.#{$wi-css-prefix}-wz-night-snow_tending_to_rain:before { content: $night-rain-mix; };
.#{$wi-css-prefix}-wz-night-sunny:before { content: $day-sunny; };
.#{$wi-css-prefix}-wz-night-thunderstorms:before { content: $night-thunderstorm; };
.#{$wi-css-prefix}-wz-night-thunderstorms_clearing:before { content: $night-thunderstorm; };
.#{$wi-css-prefix}-wz-night-windy:before { content: $night-cloudy-windy; };
.#{$wi-css-prefix}-wz-night-windy_with_rain:before { content: $night-rain-wind; };
.#{$wi-css-prefix}-wz-night-windy_with_showers:before { content: $night-rain-wind; };
.#{$wi-css-prefix}-wz-night-windy_with_snow:before { content: $night-snow-wind; };
.#{$wi-css-prefix}-wz-night-wind_and_rain_increasing:before { content: $night-rain-wind; };
.#{$wi-css-prefix}-wz-night-wind_and_showers_easing:before { content: $night-rain-wind; };